@{
    ViewData["Title"] = "History";
}

@model IEnumerable<BarBob.Models.Booking>

<div class="form-card-container">
    <h2 class="form-title">Booking History</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="title-table">Booking Date</th>
                <th class="title-table">Checkin Date</th>
                <th class="title-table">Checkin Time</th>
                <th class="title-table">Guests</th>
                <th class="title-table">Table</th>
                <th class="title-table">Status</th>
                <th class="title-table">Total Amount</th>
                <th class="title-table">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td class="text-content-table">@booking.BookingDate.ToString("yyyy-MM-dd")</td>
                    <td class="text-content-table">@booking.CheckinDate.ToString("yyyy-MM-dd")</td>
                    <td class="text-content-table">@booking.CheckinTime.ToString(@"hh\:mm")</td>
                    <td class="text-content-table">@booking.Guests</td>
                    <td class="text-content-table">@booking.Table.Table_name</td>
                    <td class="text-content-table">@booking.Status</td>
                    <td class="text-content-table">@booking.Count.ToString("C")</td>
                    <td>
                        @if (booking.Status == "Pending")
                        {
                            <form method="post" asp-area="VNPayAPI" asp-action="Payment" asp-controller="VNPayAPI" asp-route-bookingId="@booking.Id">
                                <button type="submit" class="pay-btn">Pay Now</button>
                            </form>
                        }
                        else
                        {
                            <span class="text-content-table">Paid</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
